body {
	margin: 0;
	background-color: #ddd;
}

* {
  box-sizing: border-box;
}
.header {
  background-color: #363636;
  padding: 1px;
  text-align: left;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  overflow: hidden;
  float: left;
  color: gold;
  text-align: left;
  padding: 10px 35px;
  text-decoration: none;
  font-weight: lighter;
  font-family: Verdana, Arial, sans-serif;
  font-size: 125%;
  background-color: #363636;
 }
 .topnav a:hover {
  background-color: #ddd;
  color: black;
}
h1 {
  color: white;
  font-family: Verdana, Arial, sans-serif;
  font-size: 230%;
  text-align: left;
  padding: 0px 10px;
}
h2 {
  color: gold;
  font-family: Verdana, Arial, sans-serif;
  font-size: 100%;
}
h3 {
  color: black;
  font-family: Verdana, Arial, sans-serif;
  font-size: 100%;
}
p {
  color: white;
  font-family: Verdana, Arial, sans-serif;
  font-size: 100%;
  padding: 10px 50px;
}

#phome {
  background-color: #ddd;
  color: black;
  padding-left: 10px;
  text-align: left;
  float: left;
}

#caption {
  background-color: #ddd;
  color: black;
  padding-left: 0px;
  text-align: left;
  font-size: 65%;
  float: left;
  font-style: normal;
}

table, th, td {
	float: none;
	table-layout: fixed;
    width: 100%;  
	border: 3px #747271;
	border-collapse: collapse;
	padding: 12px;
	margin-top: 0px;
	text-align: left;
	vertical-align: top;
	font-size: 100%;
}

div {
  float: none;
  padding: 0px 15px;
}

.div1 {
  background: #f4f4f4;
  margin-left: 0px;
  padding: 2px;
}

.div2 {
  background: yellow;
  margin-left: 0px;
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.div3 {
  background: #363636;
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer {
  background-color: #363636;
  padding: 8px;
  text-align: center;
  color: white;
}
img {
	float: left;
}